
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/



body {background-image: url("../img/Fondo\ relojes.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

h1{
    font-family:'Caesar Dressing';
}
#header{
    margin: 0 auto;
}
.form-select{
    width: 125px;
    margin-left: 2vw;
}
#digit{
    width: 9vw;
    height: 15vw;
    box-shadow: 1px 1px 30px rgb(25, 25, 25), -1px -1px 30px rgb(25, 25, 25);
}
#top{
    height: 1vh;
    width: 5vw;
    left: 2vw;
    top: 1vw;
    background: red;
    box-shadow: 1px 1px 10px red, -1px -1px 10px red;
}
#topLeft{
    height: 5vw;
    width: 1vh;
    left: 1vw;
    top: 2vw;
    background: red;
    box-shadow: 1px 1px 10px red, -1px -1px 10px red;
}
#topRight{
    height: 5vw;
    width: 1vh;
    right: 1vw;
    top: 2vw;
    background: red;
    box-shadow: 1px 1px 10px red, -1px -1px 10px red;
}
#dotTop{
    height: 1vw;
    width: 1vw;
    left: 4vw;
    top: 4vw;
    background: red;
    box-shadow: 1px 1px 10px red, -1px -1px 10px red;
}
#center{
    height: 1vh;
    width: 5vw;
    left: 2vw;
    top: 7vw;
    background: red;
    box-shadow: 1px 1px 10px red, -1px -1px 10px red;
}
#dotBottom{
    height: 1vw;
    width: 1vw;
    left: 4vw;
    bottom: 4vw;
    background: red;
    box-shadow: 1px 1px 10px red, -1px -1px 10px red;
}
#bottomLeft{
    height: 5vw;
    width: 1vh;
    left: 1vw;
    top: 8vw;
    background: red;
    box-shadow: 1px 1px 10px red, -1px -1px 10px red;
}
#bottomRight{
    height: 5vw;
    width: 1vh;
    right: 1vw;
    top: 8vw;
    background: red;
    box-shadow: 1px 1px 10px red, -1px -1px 10px red;
}
#bottom{
    height: 1vh;
    width: 5vw;
    left: 2vw;
    bottom: 1vw;
    background: red;
    box-shadow: 1px 1px 10px red, -1px -1px 10px red;
}

#setTime{
    width: 50vw;
}

.chronos{
    width:5vh;
    height: 5vh;
}

.active{
    font-weight: bold;
}

#watchContainer{
    height:750px;
    width: 682px;
}

#hourHandle{
    left: 203px;
    top: 237px;
}

#minuteHandle{
    left: 141px;
    top: 177px;
}

#dayHandle{
    left: 146px;
    top: 302px;
}

#monthHandle{
    left: 265px;
    top: 420px;
}

#secondHandle{
    left: 384px;
    top: 302px;
}

@media (max-width: 991px){
    #setTime{
        width:100vw;
    }
}

@media (max-height: 1000px) {
    #watch{
        height: 600px;
    }

    #watchContainer{
        height: 600px;
        width: 545px;
    }
    #hourHandle{
        left: 171px;
        top: 202px;
        height: 200px;
        width: 200px;
    }
    
    #minuteHandle{
        left: 126px;
        top: 156px;
        height: 291px;
        width: 291px;
    }
    
    #dayHandle{
        left: 131px;
        top: 247px;
        height: 109px;
        width: 109px;
    }
    
    #monthHandle{
        left: 217.5px;
        top: 333.4px;
        height: 109px;
        width: 109px;
    }
    
    #secondHandle{
        left: 304px;
        top: 247px;
        height: 109px;
        width: 109px;
    }
}

@media (max-WIDTH: 767px) {
    #watch{
        height: 396px;
    }

    #watchContainer{
        height: 396px;
        width: 360px;
    }
    #hourHandle{
        left: 113px;
        top: 133px;
        height: 132px;
        width: 132px;
    }
    
    #minuteHandle{
        left: 83px;
        top: 103px;
        height: 192px;
        width: 192px;
    }
    
    #dayHandle{
        left: 86.4px;
        top: 163px;
        height: 72px;
        width: 72px;
    }
    
    #monthHandle{
        left: 143.4px;
        top: 220px;
        height: 72px;
        width: 72px;
    }
    
    #secondHandle{
        left: 200.6px;
        top: 162.5px;
        height: 72px;
        width: 72px;
    }
}

@media (max-WIDTH: 575px) {
    #watch{
        height: 250px;
    }

    #watchContainer{
        height: 250px;
        width: 227px;
    }
    #hourHandle{
        left: 72.1px;
        top: 84px;
        height: 83.3px;
        width: 83.3px;
    }
    
    #minuteHandle{
        left: 53px;
        top: 65px;
        height: 121.2px;
        width: 121.2px;
    }
    
    #dayHandle{
        left: 54.3px;
        top: 102.8px;
        height: 45.45px;
        width: 45.45px;
    }
    
    #monthHandle{
        left: 90.5px;
        top: 138.8px;
        height: 45.45px;
        width: 45.45px;
    }
    
    #secondHandle{
        left: 126.6px;
        top: 102.7px;
        height: 45.45px;
        width: 45.45px;
    }
}